beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
customtkinter==6.0.0
darkdetect==0.8.0
future==1.0.0
greenlet==3.5.5
idna==3.19
packaging==26.3
peewee==4.4.0
pefile==2021.9.3
pewee==0.1.0.dev9
pillow==12.3.0
playwright==1.62.0
pyee==13.0.1
reportlab==5.0.1
requests==2.34.2
soupsieve==2.9.2
typing_extensions==4.16.0
urllib3==2.7.0
